## Programming

#### Static vs Dynamic Programming language

Static is a language where , we need to define the content explicitly .
cpp -> int age = 18
cpp -> string age = '18'

Dynamic is a language where , you do not need to define the content explicitly.
python -> age = 18 ; age = '18'

##### Compiled vs Interpreted Languages

Compiled languages are those , which are executed directly by the machine.
ex -> cpp

Interpreted langauges are those , which are read and executed line by line.
ex-> python

## Data types 

int -> -ve to +ve values .

string -> 'absdakahjgdskas dbkjah 18 aksjbdkasjdb !!@*(#^!(@*#&!(@*#&'

float -> decimal values. -1 -> -1.00

double -> decimal values .

#### variables

Can be considered as containers or storage boxes which hold any type of value.

eg -> age = 18.00

#### Constants

Values which remain constant throughout the execution time.

In [1]:
age = 18

In [2]:
age

18

In [3]:
age = 19
age

19

In [4]:
AGE = 18 
AGE

18

In [9]:
CONST = 12

def add(val1):
    return val1 + CONST

def add_2(val1):
    return val1 + CONST

def add_3(val1):
    return val1 + CONST

def add_4(val1):
    return val1 + CONST

add(12)

24

#### Keywords

values which cannnot be used as vars or const.

int , str, input, def

#### Data Structures

Lists/Arrays
Dictionaries/Objects
Tuples

1) Lists. - A data structure which can hold many value and is mutable.

age = [1,2,3,4,5,6,7,8,9,10, 'hello', 'goodbye', 1.00, 9.00]

In [12]:
age =  ['hello',2,3,4,5,6,7,8,9,10, 'hello', 'goodbye', 1.00, 9.00]
age

['hello', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'goodbye', 1.0, 9.0]

In [13]:
age[0]

'hello'

In [14]:
age[1]

2

In [15]:
age[0] = 'hello ashwin'
age[0]

'hello ashwin'

In [16]:
age

['hello ashwin', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'goodbye', 1.0, 9.0]

In [17]:
## (0,1) [1,10] [1,10)
age_2 = age[1:10]
age_2

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
greetings = age[0]
greetings_2 = age[10:12]
new_greetings = [greetings, greetings_2]

In [21]:
new_greetings

['hello ashwin', ['hello', 'goodbye']]

In [23]:
new_greetings[1][0]

'hello'

In [24]:
len(new_greetings)

2

In [25]:
greet = ['hello ashwin', ['hello', 'goodbye']]

In [26]:
print(greet == new_greetings)

True

In [27]:
greet[0] = 'hello'

In [28]:
new_greetings

['hello ashwin', ['hello', 'goodbye']]

In [30]:
greet
print(greet == new_greetings)

False

#### Operators

+ -> add
- -> subtract
* -> mul

/ -> divide

% -> module/remainder

= -> assignment

== -> comparison

=== -> identical

!= -> not equal

!== -> not identical

In [31]:
1 + 2

3

In [32]:
2 - 1

1

In [33]:
2 / 2

1.0

In [34]:
2 // 2

1

In [35]:
3 / 2

1.5

In [36]:
3 // 2

1

In [37]:
2 * 2

4

In [38]:
3 % 2

1

In [48]:
number = 10.0
number_2 = 10.0

print(number != number_2)

False

#### Tuples

Same as lists , with only one difference. They are unmutable unlike lists.

In [49]:
tup1 = (1,2)

In [50]:
tup1[0]

1

In [52]:
tup1[1]

2

In [53]:
tup1[0] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [54]:
tup2 = (40)

In [55]:
tup2

40

In [56]:
type(tup2)

int

In [59]:
tup2 = (40,'hello', greet)

In [60]:
type(tup2)

tuple

In [61]:
tup2

(40, 'hello', ['hello', ['hello', 'goodbye']])

#### Dictionary

In [62]:
name_and_age = {'ashwin': 18, 'mehul': 18, 'divyansh_and_hemant': (17,18), 'rest_of_them': [18,18,18]}

In [63]:
name_and_age

{'ashwin': 18,
 'mehul': 18,
 'divyansh_and_hemant': (17, 18),
 'rest_of_them': [18, 18, 18]}

In [66]:
name_and_age['ashwin']

18

In [67]:
name_and_age['ashwin'] = 19

In [68]:
name_and_age

{'ashwin': 19,
 'mehul': 18,
 'divyansh_and_hemant': (17, 18),
 'rest_of_them': [18, 18, 18]}

In [70]:
name_and_age['rest_of_them'][0] = 19

In [71]:
name_and_age['rest_of_them'][0]

19

In [72]:
type(name_and_age)

dict